In [9]:
import cassandra

### create a connection to database

In [10]:
from cassandra.cluster import Cluster
try:
    cluster=Cluster(['127.0.0.1']) #if you have locally cassandra instance
    session=cluster.connect()
except Exception as e:
    print(e)

### Let's test connection

In [11]:
try:
    session.execute("""select * from music_library""")
except Exception as e:
        print(e)

Error from server: code=2200 [Invalid query] message="No keyspace has been specified. USE a keyspace, or explicitly specify keyspace.tablename"

### Create a keyspace

In [12]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS abc
    WITH REPLICATION=
    {'class':'SimpleStrategy','replication_factor':1}""")
except Exception as e:
    print(e)

### Connect to keyspace

In [13]:
try:
    session.set_keyspace('abc')
except Exception as e:
    print(e)

## Starting create a Music Library of Album. 
### add info

In [14]:
query="CREATE TABLE IF NOT EXISTS music_lib"
query=query+"(year int, artist_name text, album_name text, PRIMARY KEY(year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [16]:
query="select count(*) from music_lib"
try:
    count=session.execute(query)
except Exception as e:
    print(e)

### insert 2 rows

In [18]:
query="INSERT INTO music_lib(year,artist_name,album_name)"
query=query+" VALUES (%s,%s,%s)"
try:
    session.execute(query, (1970,'The Beatles','Let It Be'))
except Exception as e:
    print(e)
    
try:
    session.execute(query,(1965,'The Beatles','Rubber Soul'))
except Exception as e:
    print(e)

### Validate data insert into the table

In [21]:
query='SELECT * FROM music_lib'
try: 
    rows=session.execute(query)
except Exception as e:
    print(e)

In [23]:
#show the result
for row in rows:
    print(row.year,row.album_name,row.artist_name)

1965 Rubber Soul The Beatles
1970 Let It Be The Beatles

In [24]:
query='SELECT * FROM music_lib WHERE YEAR=1970'
try: 
    rows=session.execute(query)
except Exception as e:
    print(e)
#show the result
for row in rows:
    print(row.year,row.album_name,row.artist_name)

1970 Let It Be The Beatles

### Drop the table

In [25]:
query='drop table music_lib'
try:
    session.execute(query)
except Exception as e:
    print(e)

### Shutdown session and cluster connection

In [26]:
session.shutdown()
cluster.shutdown()