In [1]:
import cassandra

In [2]:
from cassandra.cluster import Cluster
try:
    cluster=Cluster(['127.0.0.1'])
    session=cluster.connect()
except Excetion as e:
    print(e)

### After connect to cluster db
### Create and Connect to keyspace

In [5]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS alexdb
    WITH REPLICATION =
    {'class':'SimpleStrategy','replication_factor':1}""")
except Exception as e:
    print(e)

In [6]:
try:
    session.set_keyspace('alexdb')
except Exception as e:
    print(e)

### Like the exercise 1, we create song library

In [8]:
query="CREATE TABLE IF NOT EXISTS song_lib"
query=query +"(song_title text,artist_name text,year int, album_name text,single text,PRIMARY KEY(year,artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [11]:
## add query and insert statement
query ="INSERT INTO song_lib(single,artist_name, year,album_name,song_title)"
query=query+"VALUES (%s,%s,%s,%s,%s)"
try:
    session.execute(query,("Across The Universe", "The Beatles", 1970, "False", "Let It Be"))
except Exception as e:
    print(e)
try:
    session.execute(query,("Think for yourself", "The Beatles", 1965, "False", "Rubber Soul"))
except Exception as e:
    print(e)

In [12]:
query="select * from song_lib"
try:
    rows=session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.year, row.album_name,row.artist_name)

1965 False The Beatles
1970 False The Beatles

In [13]:
query="select * from song_lib where year=1970"
try:
    rows=session.execute(query)
except Exception as e:
    print(e)
for row in rows:
    print(row.year, row.single,row.artist_name)

1970 Across The Universe The Beatles

In [14]:
session.shutdown()
cluster.shutdown()