In [7]:
#import the lib
import psycopg2

In [8]:
try:
    conn=psycopg2.connect("host=127.0.0.1 dbname=studentdb user=student password=student")
except psycopg2.Error as e:
    print(e)
#connect cursor    
try:
    cur=conn.cursor()
except psycopg2.Error as e:
    print('Error: Could not get the DB')
    print(e)
#autocommit
conn.set_session(autocommit=True)

In [9]:
try:
    cur.execute("CREATE TABLE IF NOT EXISTS music_store(Transaction_Id int,Customer_Name text,Cashier_Name text,Year int,Albums_Purchased text[])")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
#add values to table
try:
    cur.execute("INSERT INTO music_store(Transaction_Id,Customer_Name,Cashier_Name,Year,Albums_Purchased) \
                VALUES (%s,%s,%s,%s,%s)",
               (1,'Amanda','Sam',2000,['Rubber Soul','Let It Be']))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: cur.execute("INSERT INTO music_store(Transaction_Id,Customer_Name,Cashier_Name,Year,Albums_Purchased) \
                VALUES (%s,%s,%s,%s,%s)",
               (2,'Toby','Sam',2000,['My Generation']))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: cur.execute("INSERT INTO music_store(Transaction_Id,Customer_Name,Cashier_Name,Year,Albums_Purchased) \
                VALUES (%s,%s,%s,%s,%s)",
               (3,'Max','Bob',2018,['Meet the Beatles','Help!']))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [10]:
#Generate the rows
try: 
    cur.execute("SELECT * FROM music_store;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 'Sam', 2000, ['Rubber Soul', 'Let It Be'])
(2, 'Toby', 'Sam', 2000, ['My Generation'])
(3, 'Max', 'Bob', 2018, ['Meet the Beatles', 'Help!'])

### The above data is not normalized yet. We now reach to the 1st normal form
#### By removing any collections or list of data and break up the list of songs into individual rows

In [14]:
## TO-DO: Complete the CREATE table statements and INSERT statements

try: 
    cur.execute("CREATE TABLE IF NOT EXISTS music_store2 (Transaction_Id int,Customer_Name text,Cashier_Name text,Year int,Albums_Purchased text);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (Transaction_Id,Customer_Name,Cashier_Name,Year,Albums_Purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (1, 'Amanda', 'Sam', 2000, 'Rubber Soul'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO music_store2 (Transaction_Id,Customer_Name,Cashier_Name,Year,Albums_Purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (1, 'Amanda', 'Sam', 2000, 'Let It Be'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (Transaction_Id,Customer_Name,Cashier_Name,Year,Albums_Purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (2, 'Toby', 'Sam', 2000, 'My Generation'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (Transaction_Id,Customer_Name,Cashier_Name,Year,Albums_Purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3, 'Max', 'Bob', 2018, 'Meet the Beatles'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO music_store2 (Transaction_Id,Customer_Name,Cashier_Name,Year,Albums_Purchased) \
                 VALUES (%s, %s, %s, %s, %s)", \
                 (3, 'Max', 'Bob', 2018, 'Help!'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("SELECT * FROM music_store2;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

(1, 'Amanda', 'Sam', 2000, 'Rubber Soul')
(1, 'Amanda', 'Sam', 2000, 'Let It Be')
(2, 'Toby', 'Sam', 2000, 'My Generation')
(3, 'Max', 'Bob', 2018, 'Meet the Beatles')
(3, 'Max', 'Bob', 2018, 'Help!')

### 2nd normal form
#### Break into 2 tables, transaction and album sold

In [15]:
### CREATE 2 TABLES for transaction and album sold
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS Transaction (Transaction_Id int,Customer_Name text,Cashier_Name text,Year int);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
    
try: 
    cur.execute("CREATE TABLE IF NOT EXISTS albums_sold (Album_Id int, Transaction_Id int, Albums_Purchased text);")
except psycopg2.Error as e: 
    print("Error: Issue creating table")
    print (e)
 
### Make 3 transactions for 3 customer    
try: 
    cur.execute("INSERT INTO Transaction (Transaction_Id,Customer_Name,Cashier_Name,Year) \
                 VALUES (%s, %s, %s, %s)", \
                 (1, 'Amanda', 'Sam', 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO Transaction (Transaction_Id,Customer_Name,Cashier_Name,Year) \
                 VALUES (%s, %s, %s, %s)", \
                 (2, 'Toby', 'Sam', 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
try: 
    cur.execute("INSERT INTO Transaction (Transaction_Id,Customer_Name,Cashier_Name,Year) \
                 VALUES (%s, %s, %s, %s)", \
                 (3, 'Max', 'Bob', 2018))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)
    
### Create another table for album sold (here is 5 albums)

try: 
    cur.execute("INSERT INTO albums_sold (Album_Id, Transaction_Id, Albums_Purchased) \
                 VALUES (%s, %s, %s)", \
                 (1,1,'Rubber Soul'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO albums_sold (Album_Id, Transaction_Id, Albums_Purchased) \
                 VALUES (%s, %s, %s)", \
                 (2,1,'Let It Be'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO albums_sold (Album_Id, Transaction_Id, Albums_Purchased) \
                 VALUES (%s, %s, %s)", \
                 (3,2,'My Generation'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO albums_sold (Album_Id, Transaction_Id, Albums_Purchased) \
                 VALUES (%s, %s, %s)", \
                 (4,3,'Meet the Beatles'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO albums_sold (Album_Id, Transaction_Id, Albums_Purchased) \
                 VALUES (%s, %s, %s)", \
                 (5,3,'Help!'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

Table: transactions

Error: select *
relation "transactions" does not exist
LINE 1: SELECT * FROM transactions;
                      ^

ProgrammingError: no results to fetch

### Already generate tables so I don't want to debug it but fetch tables in the following code lines

In [16]:
print("Table: transactions\n")
try: 
    cur.execute("SELECT * FROM Transaction;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: albums_sold\n")
try: 
    cur.execute("SELECT * FROM albums_sold;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)
row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

Table: transactions

(1, 'Amanda', 'Sam', 2000)
(2, 'Toby', 'Sam', 2000)
(3, 'Max', 'Bob', 2018)

Table: albums_sold

(1, 1, 'Rubber Soul')
(2, 1, 'Let It Be')
(3, 2, 'My Generation')
(4, 3, 'Meet the Beatles')
(5, 3, 'Help!')

### DO A `JOIN` ON THESE TABLES TO GET ALL INFO IN THE 1NF TABLE

In [17]:
### USING JOIN on Transaction and album_sold table
try:
    cur.execute ("SELECT * FROM Transaction JOIN\
                    albums_sold on Transaction.Transaction_Id=albums_sold.Transaction_Id;")
except psycopg2.Error as e:
    print("Error: select*")
    print(e)
row=cur.fetchone()
while row:
    print(row)
    row=cur.fetchone()

(1, 'Amanda', 'Sam', 2000, 1, 1, 'Rubber Soul')
(1, 'Amanda', 'Sam', 2000, 2, 1, 'Let It Be')
(2, 'Toby', 'Sam', 2000, 3, 2, 'My Generation')
(3, 'Max', 'Bob', 2018, 4, 3, 'Meet the Beatles')
(3, 'Max', 'Bob', 2018, 5, 3, 'Help!')

## `3NF (Third normal form)`

In [27]:
### we split employee table from Transaction table by create 2 different tables (employee
### and transaction_2) and use JOIN to original one

### Create transaction_2 and employee
try:
    cur.execute("CREATE TABLE IF NOT EXISTS transaction2(Transaction_Id int,Customer_Name text,Cashier_Id int,Year int);")
    #we remove cashier_name
except psycopg2.Error as e:
    print("Error:Issue creating table")
    print(e)
    
try:
    cur.execute("CREATE TABLE IF NOT EXISTS employee(Cashier_Id int, Cashier_Name text);")
except psycopg2.Error as e:
    print("Error:Issue creating table")
    print(e)

### Insert Values to 2 tables
try: 
    cur.execute("INSERT INTO transaction2 (Transaction_Id, Customer_Name,Cashier_Id,Year) \
                 VALUES (%s, %s, %s, %s)", \
                 (1, 'Amanda', 1, 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO transaction2 (Transaction_Id, Customer_Name,Cashier_Id,Year) \
                 VALUES (%s, %s, %s, %s)", \
                 (2, 'Toby', 1, 2000))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO transaction2 (Transaction_Id, Customer_Name,Cashier_Id,Year) \
                 VALUES (%s, %s, %s, %s)", \
                 (3, 'Max', 2, 2018))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO employee (Cashier_Id, Cashier_Name) \
                 VALUES (%s, %s)", \
                 (1,'Sam'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

try: 
    cur.execute("INSERT INTO employee (Cashier_Id, Cashier_Name) \
                 VALUES (%s, %s)", \
                 (2,'Bob'))
except psycopg2.Error as e: 
    print("Error: Inserting Rows")
    print (e)

In [28]:
### Fetching 2 new tables
print("Table: transactions2\n")
try: 
    cur.execute("SELECT * FROM transaction2;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: albums_sold\n")
try: 
    cur.execute("SELECT * FROM albums_sold;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

print("\nTable: employees\n")
try: 
    cur.execute("SELECT * FROM employee;")
except psycopg2.Error as e: 
    print("Error: select *")
    print (e)

row = cur.fetchone()
while row:
   print(row)
   row = cur.fetchone()

Table: transactions2

(1, 'Amanda', 1, 2000)
(2, 'Toby', 1, 2000)
(3, 'Max', 2, 2018)

Table: albums_sold

(1, 1, 'Rubber Soul')
(2, 1, 'Let It Be')
(3, 2, 'My Generation')
(4, 3, 'Meet the Beatles')
(5, 3, 'Help!')

Table: employees

(1, 'Sam')
(2, 'Bob')

In [29]:
### JOINS 3 TABLES
try:
    cur.execute("SELECT * FROM (transaction2 JOIN employee ON transaction2.Cashier_Id = employee.Cashier_Id)\
                                JOIN albums_sold ON albums_sold.Transaction_Id=transaction2.Transaction_Id;")
except psycopg2.Error as e:
    print("Error: select *")
    print(e)
    
row =cur.fetchone()
while row:
    print(row)
    row =cur.fetchone()

(1, 'Amanda', 1, 2000, 1, 'Sam', 1, 1, 'Rubber Soul')
(1, 'Amanda', 1, 2000, 1, 'Sam', 2, 1, 'Let It Be')
(2, 'Toby', 1, 2000, 1, 'Sam', 3, 2, 'My Generation')
(3, 'Max', 2, 2018, 2, 'Bob', 4, 3, 'Meet the Beatles')
(3, 'Max', 2, 2018, 2, 'Bob', 5, 3, 'Help!')

### We have now normalized of dataset at 3NF

We next can drop all tables amd close cursor and connection

In [30]:
try:
    cur.execute("DROP table music_store")
except psycopg2.Error as e:
    print("Error: Drop")
    print(e)
try:
    cur.execute("DROP table music_store2")
except psycopg2.Error as e:
    print("Error: Drop")
    print(e)
try:
    cur.execute("DROP table Transaction")
except psycopg2.Error as e:
    print("Error: Drop")
    print(e)
try:
    cur.execute("DROP table transaction2")
except psycopg2.Error as e:
    print("Error: Drop")
    print(e)
try:
    cur.execute("DROP table albums_sold")
except psycopg2.Error as e:
    print("Error: Drop")
    print(e)
try:
    cur.execute("DROP table employee")
except psycopg2.Error as e:
    print("Error: Drop")
    print(e)

In [31]:
cur.close()
conn.close()