In [1]:
import cassandra

### Create connection to database

In [2]:
from cassandra.cluster import Cluster
try:
    cluster = Cluster(['127.0.0.1'])
    session=cluster.connect()
except Exception as e:
    print(e)

### Create a keyspace to work in

In [3]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity
    WITH REPLICATION =
    {'class':'SimpleStrategy','replication_factor':1}"""
)
except Exception as e:
    print(e)

In [4]:
#connect to keyspace
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

#### we want to do three different queries, we will need different tables that partition the data differently.

#### Creates tables

In [5]:
#create music_lib table with primary keys year and artist name
query="CREATE TABLE IF NOT EXISTS music_lib"
query=query+"(Year int,Artist_Name text, Album_Name text,PRIMARY KEY(Year,Artist_Name))"
try:
    session.execute(query)
except Exception as e:
    print(e)
query1="CREATE TABLE IF NOT EXISTS artist_lib"
query1=query1+"(Artist_Name text, Album_Name text,Year int,PRIMARY KEY(Artist_Name,Year))"
try:
    session.execute(query1)
except Exception as e:
    print(e)
    
query2="CREATE TABLE IF NOT EXISTS album_lib"
query2=query2+"(Album_Name text,Artist_Name text,Year int,PRIMARY KEY(Album_Name,Year))"
try:
    session.execute(query2)
except Exception as e:
    print(e)

In [6]:
#Insert data
query = "INSERT INTO music_lib (Year,Artist_Name,Album_Name)"
query = query + " VALUES (%s, %s, %s)"

query1 = "INSERT INTO artist_lib (Artist_Name,Year,Album_Name)"
query1 = query1 + " VALUES (%s, %s, %s)"

query2 = "INSERT INTO album_lib (Album_Name,Artist_Name,Year)"
query2 = query2 + " VALUES (%s, %s, %s)"

try:
    session.execute(query, (1970, "The Beatles", "Let it Be"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Who", "My Generation"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1966, "The Monkees", "The Monkees"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1970, "The Carpenters", "Close To You"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, ("The Beatles", 1970, "Let it Be"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, ("The Beatles", 1965, "Rubber Soul"))
except Exception as e:
    print(e)
    
try:
    session.execute(query1, ("The Who", 1965, "My Generation"))
except Exception as e:
    print(e)

try:
    session.execute(query1, ("The Monkees", 1966, "The Monkees"))
except Exception as e:
    print(e)

try:
    session.execute(query1, ("The Carpenters", 1970, "Close To You"))
except Exception as e:
    print(e)
    
try:
    session.execute(query2, ("Let it Be", "The Beatles", 1970))
except Exception as e:
    print(e)
    
try:
    session.execute(query2, ("Rubber Soul", "The Beatles", 1965))
except Exception as e:
    print(e)
    
try:
    session.execute(query2, ("My Generation", "The Who", 1965))
except Exception as e:
    print(e)

try:
    session.execute(query2, ("The Monkees", "The Monkees", 1966))
except Exception as e:
    print(e)

try:
    session.execute(query2, ("Close To You", "The Carpenters", 1970))
except Exception as e:
    print(e)

In [10]:
query="select * from music_lib where Year=1970"
try:
    rows=session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print (row.year, row.artist_name, row.album_name)

1970 The Beatles Let it Be
1970 The Carpenters Close To You

In [22]:
query="select * from artist_lib where Artist_Name = 'The Carpenters'"
try:
    rows=session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print (row.artist_name, row.year, row.album_name)

The Carpenters 1970 Close To You

In [23]:
query = "drop table music_lib"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

query = "drop table album_lib"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

query = "drop table artist_lib"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

In [24]:
session.shutdown()
cluster.shutdown()