In [1]:
 import cassandra

In [3]:
from cassandra.cluster import Cluster
try:
    cluster=Cluster(['127.0.0.1'])
    session=cluster.connect()
except Exception as e:
    print(e)

### Create a keyspace

In [4]:
try:
    session.execute("""
    create keyspace if not exists udacity
    with replication =
    {'class':'SimpleStrategy','replication_factor':1}"""
)
except Exception as e:
    print(e)

### Connect to keyspace

In [5]:
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

In [8]:
query="create table if not exists music_lib"
query=query+"(Year int, City text, Artist_Name text, Album_Name text, PRIMARY KEY (Artist_Name))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [9]:
query = "INSERT INTO music_lib (Year, Artist_Name, Album_Name, City)"
query = query + " VALUES (%s, %s, %s, %s)"

try:
    session.execute(query, (1970, "The Beatles", "Let it Be", "Liverpool"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul", "Oxford"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Who", "My Generation", "London"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1966, "The Monkees", "The Monkees", "Los Angeles"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1970, "The Carpenters", "Close To You", "San Diego"))
except Exception as e:
    print(e)

### Validate the Data Model -- Does it give you two rows?

In [10]:
query="select * from music_lib where Artist_Name='The Beatles'"
try:
    rows=session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.year, row.artist_name,row.album_name,row.city)

1965 The Beatles Rubber Soul Oxford

The output should be 2 rows, but only 1 row here because of overwritten sequels

In [14]:
### we make a composite key this time
query="create table if not exists music_lib1"
query=query+"(Year int, City text, Artist_Name text, Album_Name text, PRIMARY KEY (Artist_Name,Year))"
try:
    session.execute(query)
except Exception as e:
    print(e)

In [15]:
query = "INSERT INTO music_lib1 (Year, Artist_Name, Album_Name, City)"
query = query + " VALUES (%s, %s, %s, %s)"

try:
    session.execute(query, (1970, "The Beatles", "Let it Be", "Liverpool"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul", "Oxford"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Who", "My Generation", "London"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1966, "The Monkees", "The Monkees", "Los Angeles"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1970, "The Carpenters", "Close To You", "San Diego"))
except Exception as e:
    print(e)

In [16]:
query="select * from music_lib1 where Artist_Name='The Beatles'"
try:
    rows=session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print(row.year, row.artist_name,row.album_name,row.city)

1965 The Beatles Rubber Soul Oxford
1970 The Beatles Let it Be Liverpool

### IT WORKED !!!

In [17]:
#drop tables
query = "drop table music_lib"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

query = "drop table music_lib1"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)

In [18]:
session.shutdown()
cluster.shutdown()