In [1]:
import cassandra

In [2]:
from cassandra.cluster import Cluster
try:
    cluster=Cluster(['127.0.0.1'])
    session =cluster.connect()
except Exception as e:
    print(e)

In [3]:
#create keyspace
try:
    session.execute("""
    create keyspace if not exists udacity
    with replication=
    {'class':'SimpleStrategy','replication_factor':1}
    """)
except Exception as e:
    print(e)

In [4]:
#connect to keyspace
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

### Imagine we would like to start creating a new Music Library of albums. 

### We want to ask 1 question of our data:
### 1. Give me all the information from the music library about a given album
`select * from album_library WHERE album_name="Close To You"`

In [5]:
### create table
query="create table if not exists album_library"
query=query+"(Year int, City text, Album_Name text, Artist_Name text, PRIMARY KEY (Album_Name, Artist_Name))"

try:
    session.execute(query)
except Exception as e:
    print(e)

In [6]:
### Insert data
query="insert into album_library(Year, Artist_Name, Album_Name, City)"
query=query+"VALUES(%s,%s,%s,%s)"
try:
    session.execute(query, (1970, "The Beatles", "Let it Be", "Liverpool"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1965, "The Beatles", "Rubber Soul", "Oxford"))
except Exception as e:
    print(e)
    
try:
    session.execute(query, (1964, "The Beatles", "Beatles For Sale", "London"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1966, "The Monkees", "The Monkees", "Los Angeles"))
except Exception as e:
    print(e)

try:
    session.execute(query, (1970, "The Carpenters", "Close To You", "San Diego"))
except Exception as e:
    print(e)

In [7]:
### Validate the data
query="select * from album_library where Album_Name='Close To You'"
try:
    rows=session.execute(query)
except Exception as e:
    print(e)

for row in rows:
    print(row.artist_name, row.album_name, row.city,row.year)

The Carpenters Close To You San Diego 1970

In [8]:
### Drop table
try:
    session.execute("drop table album_library")
    
except Exception as e:
    print(e)

In [9]:
### close session and cluster connection
session.shutdown()
cluster.shutdown()